@use 'App' as App;

div#frame {
  display: flex;
}

div#board {
  background-color: #000000;
  overflow: hidden;
  border: 5px solid #00ffff;
}

div#board canvas {
  background-color: #000000;
}

div#info {
  flex: 0;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  justify-content: center;
}

div#info div.box {
  flex: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
  border: 5px solid #00ffff;
  color: #FFFFFF;
  font-size: 26px;
  padding: 0.25em;
  font-family: courier;
  text-align: center;
  min-width: 150px;
}

div#info div.box:not(:first-child) {
  margin-top: 15px;
}

div#info div.box p {
  margin: 0;
}

div#info > div:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.svg15 {
  transform: scale(1.5);
}

.svg25 {
  transform: scale(2.5);
}
